<div class="row">
    <div class="col text-center">
        <img src="img/benimaru.jpg" alt="img-header" class="img-thumbnail rounded-circle" width="200">
        <h1 class="display-4">Adrian Mulyawan</h1>
        <p class="lead">Enjoy the Process, Trust the Journey</p>
    </div>
</div>